/*首页*/
.index-search {
  height: 28px;
  overflow: hidden;
}
.index-search span {
  font-size: 14px;
  display: inline;
  float: left;
  margin-right: 5px;
  line-height: 28px;
}
.index-search input.q {
  display: inline;
  float: left;
  width: 120px;
  height: 26px;
  padding: 0px;
  margin: 0px;
  padding: 0px 10px;
  border: 1px solid #ddd;
  margin-right: 5px;
  line-height: 26px;
}
.index-search input.q.date {
  width: 80px;
  background: url("../images/input_date.jpg") 73px 1px no-repeat;
}
.index-search input.but,
.index-search a,
.index-search a:visited,
.index-search a:hover {
  display: inline;
  width: 60px;
  height: 28px;
  float: left;
  line-height: 30px;
  margin-right: 5px;
  background: #6d9be2;
  border: 0px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.index-search input.but.execl,
.index-search a.execl,
.index-search a:visited.execl,
.index-search a:hover.execl {
  width: 120px;
}
.index-search.daily_search {
  width: 98%;
}
.index-search.daily_search input.date {
  width: 160px;
  background: url("../images/input_date.jpg") 153px 1px no-repeat;
}
.index-search.daily_search input.but,
.index-search.daily_search a,
.index-search.daily_search a:visited,
.index-search.daily_search a:hover {
  float: right;
}
.index-table {
  width: 98%;
  margin-top: 20px;
  background: #dedede;
}
.index-table tr th {
  background: #ecf1f7;
  font-size: 16px;
  font-weight: normal;
}
.index-table tr td {
  background: #ffffff;
  height: 50px;
  text-align: center;
  font-size: 16px;
}
.index-table tr td a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.index-table tr .yellow {
  color: #f49c10;
}
.index-table tr .yellow a {
  color: #f49c10;
}
.index-table tr .red {
  color: #f00;
}
.index-table tr .red a {
  color: #f00;
}
/*羁押信息*/
.jiya-search {
  height: 66px;
  overflow: hidden;
}
.jiya-search span {
  display: inline;
  height: 40px;
  line-height: 26px;
  float: left;
  font-size: 14px;
  margin-right: 10px;
}
.jiya-search input.q {
  width: 200px;
  padding: 0px 10px;
  float: left;
  height: 24px;
  border: 1px solid #7f9db9;
  margin-right: 10px;
  line-height: 24px;
}
.jiya-search input.q.date {
  width: 120px;
  background: url("../images/input_date.jpg") 115px 0px no-repeat;
}
.jiya-search select {
  width: 200px;
  float: left;
  margin-right: 10px;
}
.jiya-search input.but {
  display: inline;
  width: 60px;
  height: 26px;
  float: left;
  margin-right: 10px;
  background: #6d9be2;
  border: 0px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.jiya-search a,
.jiya-search a:visited,
.jiya-search a:hover {
  display: inline;
  width: 60px;
  height: 26px;
  float: left;
  margin-right: 10px;
  background: #6d9be2;
  border: 0px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
.jiya-search a.execl,
.jiya-search a:visited.execl,
.jiya-search a:hover.execl {
  width: 112px;
}
.jiya-overdue table tr td {
  color: #ff7800;
}
.jiya-warning table tr td {
  color: #ff4242;
}
.jiya-tab {
  width: 98%;
  height: 27px;
  border-bottom: 1px solid #dcdcdc;
}
.jiya-tab a,
.jiya-tab a:visited,
.jiya-tab a:hover {
  display: block;
  width: 8.2%;
  height: 24px;
  overflow: hidden;
  float: left;
  text-align: center;
  position: relative;
  zoom: 1;
  border-top: 2px solid #fff;
  line-height: 26px;
  z-index: 9;
}
.jiya-tab a.active,
.jiya-tab a:visited.active,
.jiya-tab a:hover.active {
  border-top: 2px solid #4676bf;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}
.jiya_bott {
  position: relative;
}
.jiya-view-right {
  position: absolute;
  right: 20px;
  top: 0px;
}
.jiya-view-right input,
.jiya-view-right a,
.jiya-view-right a:visited,
.jiya-view-right a:hover {
  display: inline;
  width: 60px;
  height: 28px;
  overflow: hidden;
  float: left;
  line-height: 30px;
  margin-right: 5px;
  background: #6d9be2;
  border: 0px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 0px;
}
.aj-table {
  background: none;
}
.aj_page {
  margin-top: 20px;
}
.aj_page a,
.aj_page a:visited,
.aj_page a:hover {
  background: #6d9be2;
  color: #fff;
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}
.default-table tr td .date {
  background: url("../images/input_date2.jpg") right center no-repeat;
}
.default-table tr td .area {
  width: 68%;
  border: 1px solid #7f9db9;
}
.default-table tr td .select {
  width: 65%;
}
.default-table .progress {
  width: 180px;
  height: 16px;
  margin-left: 32px;
  border: 1px solid #dedddd;
  text-align: left;
  _margin-left: -15px;
}
.default-table .progress span {
  width: 40%;
  background: red;
  height: 16px;
  display: inline-block;
}
.default-table .time {
  text-align: left;
  margin-left: 32px;
  _margin-left: 10px;
}
.xinqi-page a.on {
  background: #4676bf;
}
.xinqi-page a.back {
  background: #6d9be2;
  color: #fff;
}
.basic .top {
  padding: 25px 0;
  clear: both;
  height: 190px;
}
.basic .top li {
  float: left;
  height: 196px;
  text-align: center;
  width: 30%;
}
.basic .top li .pic {
  border: none;
  cursor: pointer;
}
.basic .top li .file {
  display: none;
}
.basic .top li span {
  display: block;
  font-size: 14px;
  cursor: pointer;
  line-height: 30px;
}
.basic .top li span i {
  font-style: normal;
  color: #2658a5;
  text-decoration: underline;
}
/*登录*/
body#login-body {
  background: url("../images/login_bg.jpg") bottom center no-repeat;
}
body#login-body .login-box {
  width: 526px;
  height: 448px;
  background: url("../images/login_box.jpg") no-repeat;
  position: absolute;
  zoom: 1;
  left: 50%;
  margin-left: -263px;
  top: 10%;
}
body#login-body .login-box input.i {
  position: absolute;
  width: 229px;
  height: 39px;
  left: 154px;
  top: 221px;
  border: 0px;
  padding: 0px;
  padding: 0px 15px;
  line-height: 39px;
  color: #666;
}
body#login-body .login-box input.i.pwd {
  top: 285px;
}
body#login-body .login-box input.btn {
  display: block;
  width: 301px;
  height: 41px;
  background: url("../images/login_btn.jpg") no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  bottom: 60px;
  border: 0px;
  text-indent: -9999px;
  cursor: pointer;
}
/*检查日志*/
.daily_show {
  width: 98%;
  overflow-x: hidden;
}
.daily-item-top {
  width: 98%;
  height: 40px;
  padding: 0px 1%;
  line-height: 40px;
  background: #8fb8f6;
  color: #fff;
  font-size: 16px;
}
.daily-table {
  width: 100%;
  padding: 15px 0px;
}
.daily-table.daily-other {
  padding-bottom: 0px;
}
.daily-table table {
  background: #808080;
}
.daily-table table th {
  background: #fff;
  height: 47px;
  font-size: 14px;
  font-weight: normal;
}
.daily-table table td {
  background: #fff;
  text-align: center;
  height: 36px;
  font-size: 14px;
}
.daily-textarea {
  padding-bottom: 15px;
}
.daily-textarea span {
  display: block;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
}
.daily-textarea textarea {
  width: 99.8%;
  height: 66px;
  line-height: 22px;
  border: 1px solid #808080;
}
.daily-btn {
  margin-top: 15px;
  padding-bottom: 15px;
}
.daily-btn a,
.daily-btn a:visited,
.daily-btn a:hover {
  display: inline;
  width: 60px;
  height: 30px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  text-align: center;
  line-height: 34px;
  background: #b3b3b3;
  color: #fff;
  font-size: 14px;
}
.daily-btn a.del,
.daily-btn a:visited.del,
.daily-btn a:hover.del {
  background: #cc0000;
}
.daily-btn input {
  display: inline;
  width: 60px;
  height: 30px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
  text-align: center;
  line-height: 34px;
  background: #6d9be2;
  color: #fff;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
}
/*系统维护*/
.system-search select {
  float: left;
  width: 120px;
  display: inline;
  margin-right: 5px;
  margin-top: 3px;
}
.system-search input.but {
  float: right;
}
.system-search a,
.system-search a:visited,
.system-search a:hover {
  float: right;
}
.system-search a.del,
.system-search a:visited.del,
.system-search a:hover.del {
  width: 120px;
}
.system-mang {
  width: 508px;
}
.system-mang table {
  background: #808080;
}
.system-mang table th {
  height: 50px;
  background: #ecf1f7;
  font-size: 16px;
  font-weight: normal;
}
.system-mang table td {
  height: 36px;
  background: #fff;
  text-align: center;
  font-size: 14px;
}
.system-mang table td a,
.system-mang table td a:visited,
.system-mang table td a:hover {
  font-size: 14px;
  color: #4676bf;
}
.system-edit span {
  display: block;
  width: 82px;
  height: 50px;
  float: left;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
}
.system-edit input.q {
  width: 220px;
  height: 26px;
  padding: 0px 10px;
  float: left;
  line-height: 26px;
}
.system-edit ul {
  width: 400px;
  float: left;
}
.system-edit ul li {
  height: 38px;
}
.system-edit ul li a,
.system-edit ul li a:visited,
.system-edit ul li a:hover {
  display: none;
  width: 42px;
  height: 28px;
  float: left;
  margin-left: 20px;
  background: #cc0000;
  color: #fff;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
}
.system-edit a.add-option {
  width: 85px;
  height: 27px;
  float: left;
  display: inline;
  margin-left: 82px;
  margin-top: 20px;
  background: #2658a5;
  color: #fff;
  text-align: center;
  line-height: 27px;
  font-size: 14px;
}
.system-edit a.back,
.system-edit a.back:visited,
.system-edit a.back:hover,
.system-edit input.btn {
  display: inline;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #6d9be2;
  float: left;
  margin-top: 20px;
  margin-left: 120px;
  color: #fff;
  font-size: 14px;
}
.system-edit input.btn {
  border: 0px;
  padding: 0px;
  cursor: pointer;
  margin-left: 30px;
}
/*高级搜索*/
.search-form {
  position: relative;
  zoom: 1;
  width: 98%;
  height: 28px;
  overflow: hidden;
}
.search-form span {
  display: inline;
  height: 40px;
  padding-right: 10px;
  float: left;
  line-height: 30px;
  font-size: 14px;
}
.search-form select {
  width: 120px;
  float: left;
  margin-top: 3px;
  display: inline;
  margin-right: 10px;
}
.search-form input.q {
  display: inline;
  width: 160px;
  height: 26px;
  float: left;
  margin-right: 10px;
  padding: 0px;
  border: 1px solid #7f9db9;
  padding: 0px 10px;
  line-height: 26px;
}
.search-form input.q.date {
  width: 80px;
  background: url("../images/input_date.jpg") 75px 1px no-repeat;
}
.search-form input.submit,
.search-form input.reset {
  display: block;
  width: 60px;
  height: 28px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  background: #6d9be2;
  text-align: center;
  line-height: 30px;
  left: 660px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.search-form input.reset {
  left: 730px;
}
.search-form a.gaoji,
.search-form a.gaoji:visited,
.search-form a.gaoji:hover {
  display: block;
  width: 80px;
  height: 28px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  background: #6d9be2;
  text-align: center;
  line-height: 30px;
  left: 800px;
  border: 0px;
  color: #fff;
  font-size: 14px;
}
.search-form a.execl,
.search-form a.execl:visited,
.search-form a.execl:hover,
.search-form a.reports,
.search-form a.reports:visited,
.search-form a.reports:hover {
  display: block;
  width: 100px;
  height: 28px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  background: #6d9be2;
  text-align: center;
  line-height: 30px;
  top: 0px;
  border: 0px;
  color: #fff;
  font-size: 14px;
}
.search-form a.execl {
  right: 120px !important;
}
/*人员管理*/
.user-menu a.on {
  color: #4676bf;
}
.user-search {
  height: 30px;
}
.user-search a {
  padding: 0px 10px;
}
.user-table tr td .view {
  border: 0;
  background: none;
}
.user-table tr td a.edit,
.user-table tr td a:visited.edit,
.user-table tr td a:hover.edit {
  color: #f49c10;
}
.user-table tr td a.del,
.user-table tr td a:visited.del,
.user-table tr td a:hover.del {
  color: #cc0000;
}
.mod-dialog-bg {
  background: #000;
  opacity: .5;
  filter: alpha(opacity=50);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  _position: absolute;
  _width: 100%;
  _height: 737px;
}
.mod-dialog,
.dialog-delorder,
.dialog-war {
  background-color: #fff;
  border: 2px  solid #4676bf;
  min-width: 400px;
  padding-top: 27px;
  position: absolute;
  z-index: 1001;
  font-size: 18px;
  text-align: center;
}
.mod-dialog .dialog-content p,
.dialog-delorder .dialog-content p,
.dialog-war .dialog-content p {
  font-size: 18px;
  font-weight: bold;
  color: #4676bf;
  padding: 0 10px;
}
.mod-dialog .dialog-console a,
.dialog-delorder .dialog-console a,
.dialog-war .dialog-console a {
  display: inline-block;
  width: 82px;
  height: 36px;
  line-height: 36px;
  border: 0;
  font-size: 14px;
  color: #fff;
  margin: 20px 30px;
  cursor: pointer;
}
.mod-dialog .dialog-console a.console-btn-confirm,
.dialog-delorder .dialog-console a.console-btn-confirm,
.dialog-war .dialog-console a.console-btn-confirm {
  background: #6d9be2;
}
.mod-dialog .dialog-console a.console-btn-cancel,
.dialog-delorder .dialog-console a.console-btn-cancel,
.dialog-war .dialog-console a.console-btn-cancel {
  background: #bf4646;
}
.user-add-title {
  font-size: 15px;
  font-weight: bold;
  color: #bf4646;
}
.user-add-table {
  width: 50%;
  background: #808080;
  text-align: center;
  float: left;
}
.user-add-table tr th {
  text-align: left;
  background: #8fb8f6;
  color: #fff;
  border-top: 0;
  margin-bottom: 10px;
}
.user-add-table tr td i {
  color: #bf4646;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}
.user-add-table tr td input.text {
  border: 0px;
  font-size: 14px;
  color: #333333;
  width: 98%;
}
.user-add-table tr td input.text.view {
  background: none;
  color: #6d6d6d;
}
.user-add-table tr td select {
  width: 98%;
  border: 0px;
  color: #333333;
}
.user-add-table tr td .area {
  width: 98%;
  text-align: left;
  height: 100px;
  float: left;
  border: 0;
}
.user-add-table tr td .area.view {
  background: #fff;
}
.user-add-table tr td.check_box {
  text-align: left;
  padding-left: 10px;
}
.user-add-table tr td.check_box label {
  float: left;
  width: 120px;
  margin: 5px 0;
}
.user-add-table tr td.check_box label.gl {
  width: 180px;
}
.user-add-table tr td.view {
  background: #fff;
  color: #6d6d6d;
}
.user-add-pic {
  float: left;
  margin-left: 15px;
  margin-top: 20px;
}
.user-add-pic .pic {
  border: none;
  cursor: pointer;
  width: 119px;
  height: 166px;
}
.user-add-pic .file {
  display: none;
}
.user-add-pic span {
  display: block;
  font-size: 16px;
  cursor: pointer;
  line-height: 25px;
  color: #2658a5;
  text-align: center;
}
.user-add-pic span i {
  font-style: normal;
  display: block;
  width: 100px;
  color: #000;
}
.user-btn {
  text-align: center;
  padding: 10px;
  width: 50%;
}
.user-btn a,
.user-btn a:hover,
.user-btn a:visited {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
}
.user-btn .back {
  background: #6d9be2;
}
.user-btn .save {
  background: #bf4646;
}
.jiya-search input.q {
  line-height: 24px;
}
