.person-left-menu .item {
  display: block;
  width: 175px;
  padding-bottom: 2px;
  background: url("../../image/ydbg/left_fg.jpg") bottom repeat-x;
}
.person-left-menu .item a,
.person-left-menu .item a:visited,
.person-left-menu .item a:hover {
  display: block;
  width: 155px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
  zoom: 0;
}
.person-left-menu .item a.active,
.person-left-menu .item a:visited.active,
.person-left-menu .item a:hover.active {
  background: url("../../image/ydbg/left_bg.jpg") no-repeat center top;
}
.person-search {
  width: 100%;
}
.person-search select {
  width: 110px;
  height: 28px;
}
.person-search span {
  margin: 0 5px;
}
.person-search input.q {
  display: inline;
  width: 100px;
  padding: 0px 10px;
  border: 1px solid #7f9db9;
  height: 24px;
  line-height: 24px;
  float: left;
  margin-right: 10px;
  background: #ffffff;
}
.person-search input.q.date {
  background: url("../../image/ydbg/input_date.jpg") 94px 0px no-repeat;
}
.person-search a input.yuqi-return,
.person-search a a.yuqi-return,
.person-search a a.yuqi-return:visited,
.person-search a a.yuqi-return:hover {
  float: right;
  margin-right: 0;
}
.person-table tr td {
  height: 32px;
  line-height: 32px;
}
.person-table tr td a {
  margin: 0 1%;
}
.person-table tr td span {
  font-size: 14px;
  padding: 10px 25px 10px 25px;
  color: #ffffff;
  line-height: 30px;
}
.person-table tr td span.red {
  background: url("../../image/ydbg/span_bg_red.jpg") no-repeat center 5px;
}
.person-table tr td span.blue {
  background: url("../../image/ydbg/span_bg_blue.jpg") no-repeat center 5px;
}
.person-table tr .important {
  color: #cc0000;
}
.person-form {
  width: 1140px;
}
.person-form .person-form-title {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000000;
  padding-left: 10px;
}
.person-form span {
  text-align: center;
  height: 36px;
  line-height: 42px;
}
.person-form span.xiangqing {
  height: 80px;
}
.person-form div {
  width: 972px;
  height: 42px;
}
.person-form div.xiangqing {
  height: 80px;
}
.person-form div .yuqi-coin {
  background: url("../../image/ydbg/yuqi-coin.jpg") no-repeat center 8px;
  float: left;
  width: 80px;
  height: 30px;
  color: #ffffff;
  border: none;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
}
.person-form div .yuqi-coin-ing {
  background: url("../../image/ydbg/yuqi-coin-ing.jpg") no-repeat center 8px;
  float: left;
  width: 90px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 6px;
}
.person-form div .yuqi-condition-time {
  float: right;
  width: 150px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  padding-top: 4px;
}
.person-form div input.q {
  width: 268px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding-top: 5px;
  border: 0px;
}
.person-form div input.q.date {
  color: #cccccc;
  padding-left: 10px;
  background: url("../../image/ydbg/input_date_bg.jpg") 0px 5px no-repeat;
}
.person-form div select {
  width: 84px;
  height: 30px;
  margin-top: 10px;
}
.person-form div select .important {
  color: #cc0000;
}
.person-form .person-ul-onelist {
  width: 1140px;
  height: 40px;
  margin-top: 30px;
  border: none;
}
.person-form .person-ul-onelist li {
  float: left;
  margin: 5px;
}
.person-form .person-ul-onelist li span {
  width: 80px;
  border: none;
  padding-left: 10px;
  float: left;
}
.person-form .person-ul-onelist li p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  padding-top: 12px;
  float: left;
}

.sp_table p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    padding-top: 12px;
    float: left;
}

.person-form .person-ul-onelist li .yuqi-coin-agree {
  background: url("../../image/ydbg/yuqi-coin-agree.jpg") no-repeat center 6px;
  width: 80px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 4px;
}

.sp_table .yuqi-coin-agree {
    background: url("../../image/ydbg/yuqi-coin-agree.jpg") no-repeat center 6px;
    width: 80px;
    height: 30px;
    border: none;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    padding-top: 4px;
}

.person-form .person-ul-onelist li .yuqi-condition-time {
  float: left;
  width: 140px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  padding-top: 4px;
}
.person-form .person-ul-onelist li .yuqi-coin-disagree {
  background: url("../../image/ydbg/yuqi-coin-disagree.jpg") no-repeat center 6px;
  float: left;
  width: 90px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 4px;
}
.person-form .person-ul-onelist li .yuqi-coin-ing {
  background: url("../../image/ydbg/yuqi-coin-ing.jpg") no-repeat center 6px;
  float: left;
  width: 90px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 4px;
}

.sp_table .yuqi-coin-ing {
    background: url("../../image/ydbg/yuqi-coin-ing.jpg") no-repeat center 6px;
    float: left;
    width: 90px;
    height: 30px;
    border: none;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #ffffff;
    padding-top: 4px;
}

.person-form input.yuqi-return,
.person-form a.yuqi-return,
.person-form a.yuqi-return:visited,
.person-form a.yuqi-return:hover {
  display: inline;
  width: 60px;
  height: 28px;
  float: left;
  border: 0px;
  background: #2d4887;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  margin: 10px auto 10px 10px;
  overflow: hidden;
  cursor: pointer;
}
.person-form input.return,
.person-form a.return,
.person-form a.return:visited,
.person-form a.return:hover {
  display: inline;
  width: 60px;
  height: 28px;
  float: left;
  border: 0px;
  background: #2d4887;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
}
.person-form .addperson-p-add {
  width: 102px;
  height: 30px;
  margin-top: 20px;
  padding-left: 28px;
  line-height: 30px;
  float: left;
  color: #2d4887;
  background: url("../../image/ydbg/add_person.jpg") no-repeat 0 top;
}
.person-form .addperson-p-tip {
  float: left;
  margin-top: 30px;
  margin-left: -14px;
  color: #cccccc;
}
.person-form .person-ul-list li {
  margin-top: 10px;
  clear: left;
}
.person-form .person-ul-list li span {
  width: 100px;
  border: none;
  text-align: left;
  float: left;
}
.person-form .person-ul-list li p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  padding-top: 12px;
  float: left;
}
.person-form .person-ul-list li p.yuqi-coin-disagree {
  background: url("../../image/ydbg/yuqi-coin-disagree.jpg") no-repeat center 6px;
  float: left;
  width: 90px;
  height: 30px;
  border: none;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  color: #ffffff;
  padding-top: 4px;
}
.person-form .person-ul-list li p.yuqi-condition-time {
  margin-left: 20px;
}
.person-alert-con {
  width: 480px;
  height: 400px;
}
.person-alert-con textarea {
  width: 428px;
  height: 270px;
  margin: 26px;
}
input.alert-send {
  display: inline;
  width: 60px;
  height: 28px;
  float: right;
  border: 0px;
  background: #2d4887;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}
