@charset "utf-8";
/* CSS Document */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
}
:focus {
  outline: 0;
}
html {
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
body {
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333;
  height: 100%;
}
body,
td,
div,
p,
br,
b,
strong,
i,
em,
a,
pre,
img,
dl,
dt,
dd,
li,
form,
th,
tr,
span {
  font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
  font-size: 12px;
}
ol,
ul {
  list-style: none;
}
ul li {
  overflow: hidden;
}
a,
a:visited {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #333;
  text-decoration: underline;
}
.clr {
  clear: both;
  overflow: hidden;
  height: 1px;
  margin-top: -1px;
}
.hid {
  display: none;
}
.margin_ten {
  margin-top: 10px;
}
.margin_two {
  margin-top: 20px;
}
.margin_twofive {
  margin-top: 25px;
}
.over_hid {
  overflow: hidden;
}
.songti {
  font-family: "宋体", Arial, Helvetica, sans-serif;
}
.en {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}
#box-body {
  width: 100%;
}
.box-top {
  width: 100%;
  height: 107px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: url("../../image/jsdt/top_bg.jpg") top right no-repeat;
  z-index: 9;
}
.box-top h1 {
  display: block;
  width: 512px;
  height: 75px;
  background: url("../../image/jsdt/logo.gif") no-repeat;
  position: absolute;
  left: 55px;
  top: 18px;
  cursor: pointer;
}
.box-top .top-link {
  width: 500px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  right: 27px;
  bottom: 11px;
}
.box-top .top-link i {
  display: inline;
  width: 14px;
  height: 16px;
  float: right;
}
.box-top .top-link i.user {
  background: url("../../image/jsdt/top_user.gif") top center no-repeat;
}
.box-top .top-link i.pwd {
  background: url("../../image/jsdt/top_pwd.gif") no-repeat;
}
.box-top .top-link i.quit {
  background: url("../../image/jsdt/top_quit.gif") no-repeat;
}
.box-top .top-link a {
  display: inline;
  line-height: 20px;
  float: right;
  margin-left: 5px;
  font-size: 14px;
}
.box-top .top-link em {
  float: right;
  font-style: normal;
  line-height: 18px;
  display: inline;
  margin: 0px 5px;
}
.box-top .top-link span {
  display: inline;
  line-height: 20px;
  float: right;
  margin-left: 5px;
  font-size: 14px;
}
.box-menu {
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 107px;
  background: #4676bf;
  z-index: 9;
}
.box-menu a,
.box-menu a:visited,
.box-menu a:hover {
  display: inline;
  width: 154px;
  height: 55px;
  float: left;
  line-height: 55px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}
.box-menu a.active,
.box-menu a:visited.active,
.box-menu a:hover.active {
  background: #2658a5;
}
.box-menu em {
  display: inline;
  width: 1px;
  height: 41px;
  margin-top: 7px;
  background: #fff;
  float: left;
}
.box-menu div {
  display: inline;
  float: right;
  margin-right: 26px;
  line-height: 55px;
  font-size: 14px;
  color: #fff;
}
.box-menu div i {
  padding: 0px 5px;
}
.left-menu {
  width: 175px;
  background: #f1f1f1;
  position: absolute;
  left: 0px;
  top: 162px;
}
.left-menu ul li {
  height: 32px;
  border-bottom: 1px solid #dfe1e3;
}
.left-menu ul li a,
.left-menu ul li a:visited,
.left-menu ul li a:hover {
  display: block;
  width: 100%;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
}
.left-menu ul li a.on,
.left-menu ul li a:visited.on,
.left-menu ul li a:hover.on {
  background: #fff;
}
.boxer {
  padding-left: 210px;
  padding-top: 190px;
  overflow: auto;
  position: relative;
  zoom: 1;
  z-index: 1;
}
.default-table {
  width: 98%;
  margin-top: 20px;
  background: #dedede;
}
.default-table tr.overdue td {
  color: #ff7800;
}
.default-table tr.warning td {
  color: #ff4242;
}
.default-table tr th {
  height: 38px;
  background: #ecf1f7;
  font-size: 14px;
  font-weight: normal;
}
.default-table tr td {
  background: #fff;
  height: 28px;
  font-size: 14px;
  text-align: center;
}
.default-table tr td a,
.default-table tr td a:visited,
.default-table tr td a:hover {
  font-size: 14px;
}
/*.default-table tr td a.view,
.default-table tr td a:visited.view,
.default-table tr td a:hover.view {
  color: #2658a5;
}
.default-table tr td a.edit,
.default-table tr td a:visited.edit,
.default-table tr td a:hover.edit {
  color: #ff4242;
}
.default-table tr td a.del,
.default-table tr td a:visited.del,
.default-table tr td a:hover.del {
  color: #ff7800;
}*/
.default-table tr td.aj_tle {
  width: 15%;
  text-align: right;
}
.default-table tr td .q {
  height: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  padding-left: 2px;
  color: #666666;
  border: 1px solid #7f9db9;
}
.default-table tr td .q.disabled {
  background: #f7f7f7;
  color: #929292;
  border: 1px solid #dedede;
}
.default-table tr td .select {
  width: 100%;
}
.default-table tr td .area {
  height: 60px;
}
.default-table tr td .area.disabled {
  background: #f7f7f7;
  color: #929292;
  border: 1px solid #dedede;
}
.default-page {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
}
.default-page a {
  display: inline-block;
  margin: 0px 5px;
  font-size: 14px;
  height: 24px;
  padding: 0px 10px;
  line-height: 24px;
}
.default-page li{
    display: inline-block;
    margin: 0px 5px;
    font-size: 14px;
    height: 24px;
    padding: 0px 0px;
    line-height: 24px;
}

.default-page li span{
    font-size: 14px;
    height: 24px;
    padding: 0px 0px;
    line-height: 24px;
}
.default-page a.on {
  background: #cc0000;
  color: #fff;
}

.default-page li.on {
    background: #cc0000;
    color: #fff;
}
.default-page li.on a {
    color: #fff;
}
.boxer-large {
  padding-left: 30px;
  padding-top: 190px;
  overflow: auto;
  position: relative;
  zoom: 1;
  z-index: 1;
}

